input {
  color:blue;
  background-color:yellow;
  
}
@keyframes animar{
  from {
    background-color:black;
    width: 50px;
  }
  to{
    background-color:pink;
    width:400px;
  }
}

input[type="submit"]{
  //animation-name:animar;
  //animation-duration:5s;
}
